const Counter = compose(
  withCounter(0),
  withCounter(5)
)(({ value, inc }) => (
    <Box m="80px">
      <input value={value} />
      <button onClick={inc}>+</button>
    </Box>
  )
)

render(<Counter />)