const withCounter = Component => {
  return class extends React.Component {
    constructor(props) {
       super(props)
       this.state = { value: 0 }
    }

    inc(event) {
      this.setState(
        ({ value: prev }) => ({ value: prev + 1 })
      )
    }

    render() {
      return (
        <Component
          {...this.props}
          value={this.state.value}
          inc={this.inc.bind(this)}/>
      )
    }
  }
}

const Counter = withCounter(
  ({ value, inc }) => (
    <Box m="80px">
      <input value={value} />
      <button onClick={inc}>+</button>
    </Box>
  )
)

render(<Counter />)