const CounterMixin = {
  getInitialState() {
    return { value: 0 }
  },

  inc() {
    this.setState(
        ({ value: prev }) => ({
            value: prev + 1
        })
    )
  }
}

const App = createReactClass({
  mixins: [ CounterMixin ],
  
  render() {
    const { value } = this.state

    return (
      <Box m="80px">
        <input value={value} />
        <button onClick={() => this.inc()}>+</button>
      </Box>
    )
  }
})

render(<App/>)